table thead {
	th {
		padding: 0 0 0.5rem 0!important;
		border-bottom: 1px solid #545454!important;
		line-height: 1.2;
		margin-bottom: 0.5rem;
		vertical-align: top;
		font-weight: 500;
	}
}

table tbody td {
	padding: 0.75rem 0!important;
}
