// Overriding variables
$body-bg: #303030;
$body-color: #ffffff;
$border-color: #545454;
$input-placeholder-color: #adb5bd;
$red: #ff4d4d;

// Imports
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

/*
  Main Components
*/

* {
  box-sizing: border-box;

  &::after, &::before {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.card {
  @extend .shadow-sm;
  background: #424242;

  .card-header {
    background-color: #545454;
    border-bottom: 1px solid #545454 !important;
  }
}

.section-title {
  @extend .border-bottom, .pb-2;
}

/*
  Elements
*/

.form-control {
  background-color: #545454;
  border: none;
  color: #fff;

  &:focus {
    background-color: #545454;
    color: #fff;
  }
}

.dropdown-menu {
  left: -7rem;
}

/*
  Helpers
*/

.lh-100 {
  line-height: 1;
}

.w-90 {
  width: 90%;
}

.w-10 {
  width: 10%;
}
